.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__image:hover {
  cursor: pointer;
  opacity: 50%;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background: transparent url(../images/like-icon.svg) center no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
}

.card__like-button_active {
  background-image: url(../images/like-button-solid.svg);0
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.card__delete-button {
  width: 18px;
  height: 19.3px;
  background: transparent url(../images/trash.svg) center no-repeat;
  background-size: 18px 19px;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  z-index: 999;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 50%;
}
