.preview__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-title {
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.modal__preview-image-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__preview-image-wrapper {
  position: relative;
}
